/*!

 =========================================================
 * Material Dashboard PRO Angular - v2.3.0
 =========================================================

 * Product Page: https://www.creative-tim.com/product/material-dashboard-pro-angular2
 * Copyright 2019 Creative Tim (https://www.creative-tim.com)

 * Coded by Creative Tim

 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

 */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/theming";
@include mat-core();

@import "themes/ternum";

.ternium-theme {
  @include angular-material-theme($ternium-theme);
}

@import "core/variables";
@import "core/mixins";

$theme-colors: (
  primary: #34495e
);

@import "~bootstrap/scss/bootstrap";

$ternium-primary: #34495e;

.btn-primary {
  @include button-variant(
    $ternium-primary,
    darken($ternium-primary, 7.5%),
    darken($ternium-primary, 10%),
    lighten($ternium-primary, 5%),
    lighten($ternium-primary, 10%),
    darken($ternium-primary, 30%)
  );
}

.btn-outline-primary {
  @include button-outline-variant(
    $ternium-primary,
    #222222,
    lighten($ternium-primary, 5%),
    $ternium-primary
  );
}

.paginate_button a {
  background-color: $ternium-primary !important;
  border-color: $ternium-primary !important;
  color: #fff !important;
}

button.btn.btn-secondary {
  padding: 10px !important;
  // margin: 0 !important;
}

div.dt-buttons.btn-group {
  margin: 0 !important;
}

.buttonsDownloadDT {
  border: 0;
  border-radius: 30px !important;
  transition: all 0.3s;
  padding: 0px 11px !important;
  margin: 0 3px;
  min-width: 30px;
  height: 30px;
  line-height: 30px;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  /* background: transparent; */
  text-align: center;
  background-color: #34495e !important;
  border-color: #34495e !important;
  color: #fff !important;
  margin-right: .5em !important;
}

.sidebar .user {
  padding-bottom: 2em !important;
  margin: 1em auto 0 !important;
  position: relative;
}

@import "core/reboot";

// Core Components
@import "core/layout";
@import "core/buttons";
@import "core/checkboxes";
@import "dashboard/cards";
@import "core/custom-forms";
@import "core/switches";
@import "core/example-pages";
@import "core/radios";
@import "core/carousel";
@import "dashboard/forms";
@import "core/input-group";
@import "core/list-group";
@import "core/nav";
@import "core/images";
@import "dashboard/navbar";
@import "core/badges";
@import "dashboard/alerts";
@import "core/pagination";
@import "core/pills";
@import "core/info-areas";
@import "core/type";
@import "core/tabs";
@import "core/footers";
@import "core/tooltip";
@import "core/popover";
@import "core/modal";
@import "core/dropdown";
@import "core/headers";
@import "core/drawer";
@import "core/progress";
@import "core/togglebutton";
@import "core/ripples";
@import "dashboard/rtl";
@import "dashboard/sidebar-and-main-panel";
@import "dashboard/timeline";
@import "dashboard/fixed-plugin";
@import "dashboard/tables";
@import "dashboard/misc";
@import "dashboard/pages";

// Components for PRO
@import "dashboard/social-buttons";
@import "dashboard/fileupload";

//plugin css
@import "plugins/plugin-nouislider";
@import "plugins/animate";
@import "plugins/sweetalert2";
// @import "plugins/datatables.net";
@import "plugins/jquery.jvectormap";
@import "plugins/plugin-datetime-picker";
@import "plugins/fullcalendar";
@import "plugins/wizard-card";
@import "plugins/chartist";
@import "~chartist/dist/scss/chartist";
@import "plugins/select-bootstrap";
@import "plugins/perfect-scrollbar";
@import "plugins/plugin-tagsinput";

@import "~ngx-toastr/toastr-bs4-alert";

@import "dashboard/responsive";
